<app-title title="Control Flow" withShadow />

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl">if: {{ showContent() }}</h2>
    <button (click)="handleToogle()" class="btn-primary p-2 rounded bg-blue-500">
      cerrar contenido
    </button>

    @if (showContent()) {
      <p>Hola mundo</p>
    } @else {
      <p>Adios mundo</p>
    }
  </div>

  <div class="bg-white rounded shadow p-10">
    <!-- component -->
    <div class='flex items-center'>
      <button class="flex px-3 py-2 bg-blue-400 mr-1 text-white font-semibold rounded" (click)="handleGrade('A')">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
        </svg>
        <span class="ml-1">A</span>
      </button>

      <button class="flex px-3 py-2 bg-red-400 mr-1 text-white font-semibold rounded" (click)="handleGrade('B')">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z"/>
        </svg>

        <span class="ml-1">B</span>
      </button>

      <button class="flex px-3 py-2 bg-yellow-400 mr-1 text-white font-semibold rounded" (click)="handleGrade('C')">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"/>
        </svg>

        <span class="ml-1">C</span>
      </button>
      <button class="flex px-3 py-2 bg-yellow-400 mr-1 text-white font-semibold rounded" (click)="handleGrade('F')">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"/>
        </svg>

        <span class="ml-1">F</span>
      </button>
    </div>
    @switch (grade()) {
      @case ('A') {
        <p>Excelente</p>
      }
      @case ('B') {
        <p>Sobresaliente</p>
      }
      @case ('C') {
        <p>Regular</p>
      }
      @default {
        <p>Reprobao</p>
      }
    }
  </div>
  <div class="bg-white rounded shadow p-10">
    <ul>
      @for (framework of framweworks(); track $index;
        let i = $index,first = $first, last = $last, even = $even, odd = $odd, count = $count) {
        <li [class]="{
       'bg-red-100': even && !first && !last,
       'bg-purple-100': odd && !first && !last,
       'bg-blue-100': first || last,
        }">
          {{ framework }}
        </li>
      } @empty {
        <li>No hay ningun framework añadido</li>
      }
    </ul>
  </div>
  <div class="bg-white rounded shadow p-10">
    <ul>
      @for (framework of framweworks2(); track $index) {
        <li>{{ framework }}</li>
      } @empty {
        <li>No hay ningun framework añadido</li>
      }
    </ul>
  </div>
</section>
